.slider {
    position: relative;
    max-width: 680px;
    margin: 50px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
  }
  
  .slider input[name="switch"] {
    display: none;
  }
  
  .switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
  }
  
  .switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
  }
  
  #btn1:checked~.switch label[for="btn1"] {
    background-color: white;
  }
  #btn2:checked~.switch label[for="btn2"] {
    background-color: white;
  }
  #btn3:checked~.switch label[for="btn3"] {
    background-color: white;
  }
  #btn4:checked~.switch label[for="btn4"] {
    background-color: white;
  }
  #btn5:checked~.switch label[for="btn5"] {
    background-color: white;
  }
  #btn6:checked~.switch label[for="btn6"] {
    background-color: white;
  }
  
  .slider-inner {
    overflow: hidden;
    
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: all 0.5s;
  }
  
  .slides img {
    width: 100%;
    flex-shrink:0;
    opacity: 0.2;
  }
  .slides img:hover{
    opacity: 2;
    width: 110%;
    border: 12px solid greenyellow;
  }
  
  #btn1:checked~ .slider-inner .slides {
    transform: translate(0);
  }
  
  #btn2:checked~ .slider-inner .slides {
    transform: translateX(-100%);
  }
  
  #btn3:checked~ .slider-inner .slides {
    transform: translateX(-200%);
  }
  #btn4:checked~ .slider-inner .slides {
    transform: translateX(-300%);
  }
  #btn5:checked~ .slider-inner .slides {
    transform: translateX(-400%);
  }
  #btn6:checked~ .slider-inner .slides {
    transform: translateX(-500%);
  }
.main a{
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    left: 40px;
    bottom: 70px;
    padding: 20px;
    color:white;
    background-image:linear-gradient(to right, lightslategray,grey,darkgrey )
}
.main a:hover{
    background-color: white;
    color: black;
}
a:hover{
  background-color: grey;
  color: black;
  box-shadow: 25px 35px 0 0 lightskyblue;
  transition: 5s linear;
}
